body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center; /* Centrar el texto */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

h1 {
    color: black; /* Cambiar el color del título a negro */
    font-size: 28px; /* Tamaño de la fuente del título */
    font-weight: bold;
    margin-bottom: 20px; /* Espaciado inferior del título */
}

.descuento-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: left; /* Alineación del texto a la izquierda */
}

.descuento-item img {
    max-width: 80%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Espaciado a la derecha de la imagen */
}

.descuento-text {
    flex-grow: 1; /* El texto ocupa el espacio restante */
}

.logo {
    max-width: 200px; /* Tamaño máximo del logo */
    margin: 20px auto; /* Espaciado */
    display: block; /* Centrar */
}

.footer-message{
    font-size: 12px;
    color: #340;
    margin-top: 20px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .descuento-item img {
        max-width: 50%;
    }

    .special-logo img{
        max-width: 50%;
    }
}